<a href="https://colab.research.google.com/github/svloc/matplotlib_python/blob/main/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TY_A_163 Sachin Lokare 
Practical Assignment for Linear Regression

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import linear_model

In [ ]:
boston_data=pd.read_csv("/content/Boston.csv")
boston_data

In [ ]:
boston_data.columns

In [ ]:
boston_data.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
boston_data

In [ ]:
boston_data.columns = ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'prices']
boston_data

In [ ]:
boston_data.info()

In [ ]:
boston_data.isnull().sum()

In [ ]:
a=boston_data[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'black', 'lstat', 'prices']]==0
a.sum()

crim         0
zn         372
indus        0
chas       471
nox          0
rm           0
age          0
dis          0
rad          0
tax          0
ptratio      0
black        0
lstat        0
prices       0
dtype: int64

In [ ]:
boston_data.drop(columns=['zn','chas'],inplace=True)
boston_data

,crim,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,prices
0,0.00632,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,11.93,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,11.93,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,11.93,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,11.93,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,11.93,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [ ]:
# std=preprocessing.StandardScaler()

In [ ]:
# y=boston_data['prices']
# b=boston_data.drop(['prices'],axis=1)
# b=std.fit_transform(b)
# b[0]

In [ ]:
# boston_data=pd.DataFrame(b)
# boston_data['prices']
# boston_data.columns(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'black', 'lstat', 'prices'])
# boston_data

In [ ]:
Y=boston_data['prices']
X=boston_data.drop('prices',axis=1)
X=np.array(X)
X.reshape(1,-1)

In [ ]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=0.2,random_state=4)

In [ ]:
regx=linear_model.LinearRegression()

In [ ]:
regx.fit(train_x,train_y)
# LinearRegression(copy_x=True,fit_intercept=True,n_jobs=None,normalize=False)

LinearRegression()

In [ ]:
regx.predict(test_x)

In [ ]:
test_a=regx.score(test_x,test_y)
print('Testing Accuracy')
test_a*100

Testing Accuracy

72.21157909282523

In [ ]:
train_a=regx.score(train_x,train_y)
print('Training Accuracy')
train_a*100

Training Accuracy

72.8485017370161

In [ ]:
for i in boston_data.columns:
  plt.scatter(boston_data[i],boston_data['prices'])
  plt.xlabel(i)
  plt.ylabel('Prices')
  plt.show()